<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zust.se.mapper.ContractClaimMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.zust.se.entity.po.ContractClaim">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column=" claim_time" property=" claimTime" />
        <result column="claim_description" property="claimDescription" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="resolved_time" property="resolvedTime" />
        <result column="resolved_amount" property="resolvedAmount" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
